.c1{
  margin-left: 150px;width: 230px;
}
.button1{
  background-color:rgb(221, 52, 52);padding: 10px;border: none;border-radius: 5px;padding-left: 25px;
  padding-right: 25px;color: white;
}
.div1{
  margin-top:20px;
}
.div2{
  display: flex;margin-left: 140px;margin-top: 20px;padding-bottom: 20px;
}
.sdiv2{
  background-color: grey;
}
.button2{
  padding: 10px;border-color:white;background-color: grey;padding-left: 30px;padding-right: 30px;
}
.button{
  padding: 10px;border-color:white;background-color: grey;padding-left: 30px;padding-right: 30px;color: grey;
}
.c2{
  font-size: 45px;text-align: center;margin-top: 100px;
}
.span1{
  color: rgb(184, 50, 2);
}
.c3{
  font-size: 35px;text-align: center;margin-top: 50px;
}
.c4{
  font-size: 20px;text-align: center;
}
.c5{
  text-align: center;color: rgb(184, 50, 2);
}
.c6{
  text-align: center;font-size: 35px;
}
.c7{
  text-align: center;font-size: 35px;color: white;padding-top: 150px;
}
.div3{
  background-image: url(../img/tom-and-sharon_opt-1200x740.jpg);
  background-repeat: no-repeat;background-size: cover;height: 450px;width: 100%;
}
.c8{
  color: white;background-color: rgb(184, 50, 2);border-radius: 5px;padding: 15px;padding-left: 35px;
  padding-right: 35px;border: none;margin-left: 580px;margin-top: 60px;
}
.c9{
  font-size: 35px;text-align: center;margin-top: 50px;
}
.div4{
  display: flex;
}
.c12{
  font-size: 20px;
}
.c10{
  margin-left: 150px;
}
#c13{
  margin-top: 100px;
}
.c14{
  width: 100%;height:400px;margin-top: 50px;
}
#id2{
  margin-top: 50px;
}
.imgdiv4{
  width:250px;padding-top: 50px;
}
.div6{
  display: flex;margin-left: 200px;margin-top: 100px;
}
.c15{
width: 220px;margin-left: 20px;
}
.div7{
width: 100%;background-color: rgb(197, 51, 51);margin-top: 50px;padding-bottom: 30px;
}
.c16{
  text-align: center;color: white;padding-top: 30px;
}
.c17{
  text-align: center;color: black;font-size: 20px;
}
.c19{
  margin-left: 400px;padding-left: 20px;border-radius: 5px;border: none;padding-right: 20px;
  padding-top: 10px;padding-bottom: 10px;
}
.c18{
  color: black;padding-left: 400px;
}
.c20{
  color: white;background-color: black;padding-right: 100px;padding-left: 100px;border-radius: 5px;
  margin-left: 20px;padding-top: 5px;padding-bottom: 5px;
}
.c21{
  background-color: rgb(61, 61, 61);margin-top: 50px;padding-bottom: 20px;padding-top: 20px;
}
.c22{
  color: white;text-align: center;font-size: 20px;
}
.span2{
  color: rgb(230, 5, 5);font-size: 25px;
}
.c23{
  color: white;text-align: center;font-size: 25px;
}
.span3{
  color: rgb(230, 5, 5);font-size:30px ;
}
.c24{
  width: 220px;margin-left: 570px;
}
.c25{
  text-align: center;color: white;padding-top: 20px;
}
.sfooterdiv{
 display: flex;padding-left: 380px;padding-bottom: 30px;padding-top: 45px;
}
.c26{
  width: 90px;height: 90px;margin-left: 40px;cursor: pointer;
}
.c27{
  width: 100px;height: 80px;margin-left: 40px;cursor: pointer;
}
.c28{
  width:110px ;height: 30px;margin-left: 40px;margin-top: 30px;cursor: pointer;
}
.c29{
  text-align: center;color: white;font-size: 13px;
}
.span4{
  color: rgb(230, 5, 5);cursor: pointer;
}
.c30{
  width: 50px;padding-left: 20px;cursor: pointer;
}
#fbicon{
  margin-left: 180px;cursor: pointer;
}
.searchicon{
  width: 35px;margin-left: 25px;cursor: pointer;
}
.span1blog{
  color: rgb(184, 50, 2);font-size: 48px;
}
.div1blog{
  margin-left: 100px;
}
.c1blog{
  font-size: 48px;
}
.c2blog{
  font-size: 20px;
}
.div2blog{
  display: flex;margin-left: 100px;
}